<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>동행 구하기 게시판</title>
    <meta name="author" content="MoonSooKim">
    <meta name="description" content="Traveler는 여행자들이 자신만의 일정을 만들거나 동행을 구하기도 하고 소통할 수 있는 공간을 제공하는 커뮤니티 입니다.">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Traveler">
    <meta property="og:title" content="당신의 여행을 위한 공간입니다.">
    <meta property="og:description" content="Traveler는 여행자들이 자신만의 일정을 만들거나 동행을 구하기도 하고 소통할 수 있는 공간을 제공하는 커뮤니티 입니다.">
    <meta property="og:url" content="http://localhost">

    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="GitHub">
    <meta property="twitter:title" content="당신의 여행을 위한 공간입니다.">
    <meta property="twitter:description" content="Traveler는 여행자들이 자신만의 일정을 만들거나 동행을 구하기도 하고 소통할 수 있는 공간을 제공하는 커뮤니티 입니다.">
    <meta property="twitter:url" content="https://loclahost">

    <!-- 브라우저 스타일 초기화 reset.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/common.css" type="text/css"/>
    <link rel="stylesheet" href="/css/large/header.css" type="text/css"/>
    <link rel="stylesheet" href="/css/large/upload-accompany.css" type="text/css"/>
    <link rel="stylesheet" media="all and (max-width:1024px)" href="/css/medium/header_medium.css" type="text/css"/>
    <link rel="stylesheet" media="all and (max-width:1024px)" href="/css/medium/upload-accompany_medium.css" type="text/css"/>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYh4bvHSiM73-OsppOKfs7JAhxVPQXwWM&callback=initMap&libraries=&v=weekly" defer></script>
    <script src="/js/google-map.js"></script>
    <script src="/js/upload-accompany.js"></script>
</head>
<body>
<div class="body__container">
    <!--HEADER-->
    <header>
        <nav>
            <a class="nav-brand" href="/">Traveler</a>
            <div class="clearfix toggle">
                <a class="nav-brand" href="/">Traveler</a>
                <ul class="notification-group float--right">
                    <li><a href="#">채팅</a></li>
                    <li><a href="#">알림</a></li>
                </ul>
            </div>
            <div class="inner">
                <div class="menu-group toggle">
                    <ul class="main-menu">
                        <li><a href="#">커뮤니티</a></li>
                        <li><a href="#">일정 만들기</a></li>
                        <li><a href="#">동행 구하기</a></li>
                        <li>
                            <a th:if="${session.account == null}" th:href="@{/login}">로그인</a>
                            <a th:if="${session.account != null}" th:href="@{/logout}">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="toggle-btn">header menu toggle button</div>
        </nav>
        <h2>당신과 함께 할 여행자를 구하세요!</h2>
    </header>
    <div class="section-box">
        <main class="section content-section">
            <div class="inner">
                <form action="#">
                    <div class="flex-area">
                        <div class="left-side">
                            <div class="content-area title-area">
                                <label for="title-input">제목</label>
                                <input id="title-input" class="input--text" type="text" name="title" placeholder="게시물 제목" required>
                            </div>
                            <div class="content-area article-area">
                                <label for="article-textarea">게시글</label>
                                <textarea id="article-textarea" class="input--text" type="text" name="article" placeholder="게시물 제목" required></textarea>
                            </div>
                            <div class="content-area start-date-area">
                                <label for="start-date-input">시작 날짜</label>
                                <input id="start-date-input" class="input--text" type="datetime-local" name="start-date" required>
                            </div>
                            <div class="content-area end-date-area">
                                <label for="end-date-input">종료 날짜</label>
                                <input id="end-date-input" class="input--text" type="datetime-local" name="end-date" required>
                            </div>
                        </div>
                        <div class="right-side">
                            <div class="map-box">
                                <input type="text" class="input--text" placeholder="장소 검색">
                                <div id="map"></div>
                            </div>
                            <p>*검색이나 지도 클릭을 통해서 여행 장소를 지정해주세요!</p>
                        </div>
                    </div>
                    <input class="btn btn--primary" type="button" value="업로드"/>
                </form>
                <a href="/accompanies" class="btn cancel-btn">취소</a>
            </div>
        </main>
    </div>
</div>
</body>
</html>