<!DOCTYPE html>
<html lang="lo" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Traveler</title>

    <meta name="author" content="MoonSooKim">
    <meta name="description" content="Traveler는 여행자들이 자신만의 일정을 만들거나 동행을 구하기도 하고 소통할 수 있는 공간을 제공하는 커뮤니티 입니다.">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Traveler">
    <meta property="og:title" content="당신의 여행을 위한 공간입니다.">
    <meta property="og:description" content="Traveler는 여행자들이 자신만의 일정을 만들거나 동행을 구하기도 하고 소통할 수 있는 공간을 제공하는 커뮤니티 입니다.">
    <meta property="og:url" content="http://localhost">

    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="Traveler">
    <meta property="twitter:title" content="당신의 여행을 위한 공간입니다.">
    <meta property="twitter:description" content="Traveler는 여행자들이 자신만의 일정을 만들거나 동행을 구하기도 하고 소통할 수 있는 공간을 제공하는 커뮤니티 입니다.">
    <meta property="twitter:url" content="https://localhost">

    <!-- 브라우저 스타일 초기화 reset.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/common.css" type="text/css"/>
    <link rel="stylesheet" href="/css/large/header.css" type="text/css"/>
    <link rel="stylesheet" href="/css/large/index.css" type="text/css"/>
    <link rel="stylesheet" media="all and (max-width:1024px)" href="/css/medium/header_medium.css" type="text/css"/>
    <link rel="stylesheet" media="all and (max-width:1024px)" href="/css/medium/index_medium.css" type="text/css"/>
    <link rel="stylesheet" media="all and (max-width:768px)" href="/css/small/index_small.css" type="text/css"/>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="/js/toggle-control.js"></script>
</head>
<body>
<div class="body__container">
    <!--HEADER-->
    <header>
        <nav>
            <div class="clearfix toggle">
                <ul class="notification-group float--right">
                    <li><a href="#">채팅</a></li>
                    <li><a href="#">알림</a></li>
                </ul>
            </div>
            <div class="inner">
                <div class="menu-group toggle">
                    <ul class="main-menu">
                        <li><a href="#">커뮤니티</a></li>
                        <li><a href="#">일정 만들기</a></li>
                        <li><a href="#">동행 구하기</a></li>
                         <li th:if="${session.account != null}"><a href="#" th:href="'/users/' + ${session.account.getId()}" th:text="마이페이지">마이페이지</a></li>
                         <li th:if="${session.account != null}"><a href="#" th:href="@{/logout}" th:text="로그아웃">로그아웃</a></li>
                        <li th:unless="${session.account != null}"><a href="#" th:href="@{/login}" th:text="로그인">로그인</a></li>
                        <li th:unless="${session.account != null}"><a href="#" th:href="@{/sign-up}" th:text="회원가입">회원가입</a></li>
                    </ul>
                </div>
            </div>
            <div id="toggle-btn">header menu toggle button</div>
        </nav>
        <h1>Traveler</h1>
        <form action="#" th:action="@{/search}" method="get" id="search-form">
            <input id="search" class="input--text" type="text" name="search" placeholder="검색"/>
            <input type="submit" value="검색" class="btn"/>
        </form>
    </header>
    <!--커뮤니티 바로가기-->
    <section class="section section--community">
        <div>
            <h2>당신의 여행은 특별합니다. 그 특별한 순간을 남기고 다른 사람들과 공유해보세요!</h2>
            <p>커뮤니티 바로가기</p>
        </div>
    </section>
    <!--일정 만들기-->
    <section class="section section--schedule">
        <div>
            <h2>당신의 여행은 소중합니다.</h2>
            <p>일정 만들기</p>
        </div>
    </section>
    <!--동행 구하기-->
    <section class="section section--accompany">
        <div>
            <h2>즐거움은 나눌수록 커집니다. 여행의 즐거움을 나누세요!</h2>
            <p>동행 구하기</p>
        </div>
    </section>
</div>
</body>
</html>
