/*AUTHENTICATE TITLE*/
header h1 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    position: absolute;
    top: 250px;
}

/*TIMER*/
#timer-box {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 350px;
    color: white;
    font-size: 20px;
}

/*AUTHENTICATE FORM*/
#authenticate-form {
    width: 100%;
    position: absolute;
    top: 400px;
    text-align: center;
}
#authenticate-form [type="number"] {
    margin-bottom: 10px;
}
#authenticate-form p {
    margin-bottom: 10px;
}
#authenticate-form [type="submit"] {
    margin: 10px auto;
}
#message {
    color: red;
    width: 100%;
    position: absolute;
    top: 480px;
    text-align: center;
}