/*로그인 타이틀*/
header h1 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    position: absolute;
    top: 250px;
}

/*타이머 박스*/
#timer-box {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 350px;
    color: white;
    font-size: 20px;
}

/*아이디 찾기 폼 시작*/
section form {
    width: 100%;
    position: absolute;
    top: 400px;
}

section form div {
    text-align: center;
}

section p {
    color: white;
    width: 100%;
    position: absolute;
    top: 150px;
    text-align: center;
}

#message {
    color: red;
    width: 100%;
    position: absolute;
    top: 120px;
    text-align: center;
}

/*인증번호 input box*/
section form div input {
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border-color: transparent;
}
/*아이디 찾기 폼 종료*/