.body__container {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: #347682;
}

/* INPUT */
.input--text {
    width: 250px;
    height: 40px;
    border: transparent;
    border-radius: 6px;
    outline: none;
    box-shadow: inset 0 0 1px rgba(0,0,0,.75);
    padding: 0 10px;
    box-sizing: border-box;
}

.input--text:focus {
    border-color: #15a7e8;
    box-shadow: inset 0 0 2px rgba(0,0,0,.75),
    0 0 5px rgba(81, 167, 232, 0.5);
}

/* CHROME */
.input--text::-webkit-input-placeholder {
    color: #cacaca;
}
/* IE, EDGE */
.input--text::-ms-input-placeholder {
    color: #cacaca;
}
/* MOZILLA */
.input--text::-moz-input-placeholder {
    color: #cacaca;
}

/* BTN */
.btn {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 12px;
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    box-sizing: border-box;
    position: relative;
    background: #eee;
    color: #333;
}
.btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.1);
}
.btn--primary {
    background: #3498DB;
    color: #fff;
}
.btn--danger {
    background: #FF6670;
    color: #fff;
}
/* FLOAT & CLEAR */
.float--right {
    float: right;
}
.float--left {
    float: left;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*LOADING BOX*/
.loading-container {
    position: fixed;
    width: 100%;
    top: 30vh;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.loading-container .loading-box {
    display: none;
    color: white;
    width: 200px;
    height: 200px;
    background: rgba(19, 19, 19, 0.8);
    border-radius: 7px;
}
.loading-container .loading-box p {
    margin-top: 20px;
    text-align: center;
}
.loading-container .loading-box .loading-bar {
    position: relative;
    margin-top: 60px;
    width: 40px;
    height: 15px;
    background: #13B8EB;
    animation: loading 1s infinite alternate;
}
@keyframes loading {
    0% {
        left: 0;
    }

    100% {
        left: 160px;
    }
}

.loading-container .on {
    display: block;
}


  