header {
    height: 742px;
}

/*웹 사이트 타이틀*/
header h1 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 70px;
    position: absolute;
    top: 250px;
}

/*검색 폼 시작*/
header form {
    width: 100%;
    position: absolute;
    top: 400px;
}

header form div {
    text-align: center;
}

header form div input[name='search'] {
    height: 35px;
    border-radius: 5px;
    border-color: transparent;
}
/*검색 폼 종료*/

/*커뮤니티 섹션*/
#community-section {
    position:relative;
    background-image: url("../image/community.jpg");
    background-size: cover;
    height: 700px;
}

#community-section h2 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    padding-top: 100px
}

#community-section div {
    padding-top: 100px;
    text-align: center;
}
#community-section div a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
/*커뮤니티 섹션 끝*/
/*일정 섹션 시작*/
#schedule-section {
    position: relative;
    background-image: url("../image/schedule.jpg");
    background-size: cover;
    height: 700px;
}

#schedule-section h2 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    padding-top: 100px
}

#schedule-section div {
    padding-top: 100px;
    text-align: center;
}
#schedule-section div a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
/*일정 섹션 종료*/
/*동행 섹션 시작*/
#accompany-section {
    position: relative;
    background-image: url("../image/accompany.jpg");
    background-size: cover;
    height: 700px;
}

#accompany-section h2 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    padding-top: 100px
}

#accompany-section div {
    padding-top: 100px;
    text-align: center;
}
#accompany-section div a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/*동행 섹션 종료*/

/*각 섹션에 마우스가 올라가면 배경색을 바꿔주기 위한 박스*/
.section-hover {
    position: absolute;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
}

@media (hover: hover) {
    #community-section .section-hover:hover {
        background: #2728224c;
    }

    #schedule-section .section-hover:hover {
        background: #2728224c;
    }

    #accompany-section .section-hover:hover {
        background: #2728224c;
    }
}