<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/authenticate.css"/>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/js/authenticate.js"></script>
</head>
<body>
<!--header-->
<header>
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#nav-menu"
                        aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    traveler
                </a>
            </div>
            <div class="collapse navbar-collapse" id="nav-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">커뮤니티</a></li>
                    <li><a href="#">일정 만들기</a></li>
                    <li><a href="#">동행 구하기</a></li>
                    <li><a th:href="@{/login}">로그인</a></li>
                    <li><a th:href="@{/sing-up}">회원가입</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>아이디 찾기</h1>
</header>
<section>
    <div id="timer-box"></div>
    <form action="#" th:action="@{/find-username/authenticate}" method="post">
        <div class="form-group form-inline">
            <input type="number" name="authCode" placeholder="인증번호" required="required"/>
        </div>
        <p id="message"></p>
        <p>
            *이메일로 인증번호가 전송되었습니다. 확인 후 제한시간 안에 인증번호를 입력해주세요.
            <br>
            이 페이지를 떠나거나 새로고침시 인증번호를 다시 발급받아야 합니다. 주의하세요.
        </p>
        <div class="form-group form-inline">
            <input type="submit" value="본인 인증" class="btn btn-primary"/>
        </div>
    </form>
</section>
</body>
</html>