<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>

    <meta name="author" content="MoonSooKim">
    <meta name="description" content="Traveler는 여행자들이 자신만의 일정을 만들거나 동행을 구하기도 하고 소통할 수 있는 공간을 제공하는 커뮤니티 입니다.">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Traveler">
    <meta property="og:title" content="당신의 여행을 위한 공간입니다.">
    <meta property="og:description" content="Traveler는 여행자들이 자신만의 일정을 만들거나 동행을 구하기도 하고 소통할 수 있는 공간을 제공하는 커뮤니티 입니다.">
    <meta property="og:url" content="http://localhost">

    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="GitHub">
    <meta property="twitter:title" content="당신의 여행을 위한 공간입니다.">
    <meta property="twitter:description" content="Traveler는 여행자들이 자신만의 일정을 만들거나 동행을 구하기도 하고 소통할 수 있는 공간을 제공하는 커뮤니티 입니다.">
    <meta property="twitter:url" content="https://loclahost">

    <!-- 브라우저 스타일 초기화 reset.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/common.css" type="text/css"/>
    <link rel="stylesheet" href="/css/large/header.css" type="text/css"/>
    <link rel="stylesheet" href="/css/large/find-username.css" type="text/css"/>
    <link rel="stylesheet" media="all and (max-width:1024px)" href="/css/medium/header_medium.css" type="text/css"/>
    <link rel="stylesheet" media="all and (max-width:1024px)" href="/css/medium/find-username_medium.css" type="text/css"/>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="/js/toggle-control.js"></script>
</head>
<body>
<div class="body__container">
    <!--HEADER-->
    <header>
        <nav>
            <a class="nav-brand" href="/">Traveler</a>
            <div class="clearfix toggle">
                <ul class="notification-group float--right">
                    <li><a href="#">채팅</a></li>
                    <li><a href="#">알림</a></li>
                </ul>
            </div>
            <div class="inner">
                <div class="menu-group toggle">
                    <ul class="main-menu">
                        <li><a href="#">커뮤니티</a></li>
                        <li><a href="#">일정 만들기</a></li>
                        <li><a href="#">동행 구하기</a></li>
                        <li><a th:href="@{/login}">로그인</a></li>
                        <li><a th:href="@{/sing-up}">회원가입</a></li>
                    </ul>
                </div>
            </div>
            <div id="toggle-btn">header menu toggle button</div>
        </nav>
        <h1>아이디 찾기</h1>
    </header>
    <section class="section">
        <div class="inner">
            <form id="find-username-form" action="#" th:action="@{/find-username}" method="post">
                <p th:if="${!message.equals('')}" th:text="${message}">message from server</p>
                <input class="input--text" type="text" name="name" placeholder="이름" required="required"/>
                <input class="input--text" type="email" name="email" placeholder="이메일" required="required"/>
                <p>*회원가입 시 입력했던 이메일을 입력해주세요.</p>
                <input type="submit" value="아이디 찾기" class="btn"/>
            </form>
        </div>
    </section>
</div>
</body>
</html>